<div class="register-form">
    <div class="form-result" [ngClass]="{ 'is-invalid': result.requestFailed() }">
      {{result.message}}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nom</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': check_errors(name) }"
        />
        @if (check_errors(name)) {
          <div  ng-if="name.errors" class="invalid-feedback">
            <div>Name is required</div>
          </div>
        }

      </div>
  
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': check_errors(email) }"
        />
        @if (check_errors(email)) {
          <div class="invalid-feedback">
            @if (check_errors(email, "required"))
            {
              <div>Email is required</div>
            }
            @else {
              <div>Email is invalid</div>
            }
          </div>
        }
      </div>
  
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': check_errors(password)}"
        />
        @if (check_errors(password)) {
          <div  class="invalid-feedback">
            @if (check_errors(password, "required"))
            {
              <div>Password is required</div>
            }
            @else {
              <div>Password must be at least 8 characters and contains special characters</div>
            }
          </div>
        }
      </div>
  
      <div class="form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          formControlName="confirmed_password"
          class="form-control"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': check_errors(confirmedPassword)}"
        />
        @if (check_errors(confirmedPassword)) {
          <div nf-if="confirmed_password.errors" class="invalid-feedback">
            <div>Confirm Password does not match</div>
          </div>
        }
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>