<div class="profile-component">
  <div class="form-result" [ngClass]="{ 'is-invalid': result.requestFailed() }">
    {{result.message}}
  </div>
  <form id="profile-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <mat-label for="input-name">Nom</mat-label>
      <input
        type="text"
        id="input-name"
        formControlName="name"
        class="form-control"
        placeholder="Bojack Horseman"
        matInput required
        [ngClass]="{ 'is-invalid': errors['name'].length }"
      />
      @if (errors['name'].length) {
        <mat-error>Name required</mat-error>
      }
    </mat-form-field>

    <mat-form-field >
      <mat-label for="input-company">Entreprise</mat-label>
      <input
        type="text"
        id="input-company"
        formControlName="company"
        class="form-control"
        placeholder="FiregreenCorp"
        matInput required
        [matAutocomplete]="auto"
        [ngClass]="{ 'is-invalid': errors['company'].length }"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (company of companies_filter; track company) {
          <mat-option [value]="company">{{company}}</mat-option>
        }
      </mat-autocomplete>
      @if (errors['company'].length) {
        <mat-error>Company required</mat-error>
      }
    </mat-form-field>

    <mat-form-field >
      <mat-label for="input-phone">Téléphone</mat-label>
      <input
        type="tel"
        id="input-phone"
        formControlName="phone"
        class="form-control"
        matInput
        [ngClass]="{ 'is-invalid': errors['phone'].length }"
      />
      <mat-icon matSuffix>phone</mat-icon>
      @if (errors['phone'].length) {
        <mat-error>Phone Invalid</mat-error>
      }
    </mat-form-field>

    <mat-form-field >
      <mat-label for="input-adress">Adresse</mat-label>
      <input
        type="text"
        id="input-adress"
        formControlName="adress"
        class="form-control"
        matInput
        [ngClass]="{ 'is-invalid': errors['adress'].length }"
      />
      @if (errors['adress'].length) {
        <mat-error>Adress Invalid</mat-error>
      }
    </mat-form-field>

    <button mat-flat-button type="submit" color="accent">Save</button>
  </form>
</div>