form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    mat-form-field {
        width: 300px;
        margin-bottom: 15px;
    }

    button {
        min-width: 120px;
        max-width: 240px;
    }
}