<nav>
    <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
        <li><a routerLink="/collection" routerLinkActive="active" ariaCurrentWhenActive="page">Collection</a></li>
        <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
        <li><a routerLink="/cost" routerLinkActive="active" ariaCurrentWhenActive="page">Cost</a></li>
        <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
    </ul>
</nav>
