<div class="login-form">
    <div class="form-result" [ngClass]="{ 'is-invalid': result.requestFailed() }">
      {{result.message}}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          readonly
          [ngClass]="{ 'is-invalid': check_errors(email) }"
        />
        @if (check_errors(email))
        {
          <div class="invalid-feedback">
            @if (check_errors(email, "required")){
            <div>Email is required</div>
            }
            @if (check_errors(email, "email")){
            <div>Email is invalid</div>
            }
          </div>
        }
      </div>
  
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          readonly
          [ngClass]="{ 'is-invalid': check_errors(password) }"
        />
        @if (check_errors(password))
        {
          <div class="invalid-feedback">
            <div>Password is required</div>
          </div>
        }
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <div class="signup-section">
        Not yet registered ? 
        <a routerLink="/signup" [queryParams]="{returnUrl: returnUrl}"
         routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up !</a>
    </div>
  </div>